.numEl {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
}

.numEl[data-pos='0'] {transform: translate(4px, 4px);}
.numEl[data-pos='1'] {transform: translate(58px, 4px);}
.numEl[data-pos='2'] {transform: translate(112px, 4px);}
.numEl[data-pos='3'] {transform: translate(166px, 4px);}
.numEl[data-pos='4'] {transform: translate(4px, 58px);}
.numEl[data-pos='5'] {transform: translate(58px, 58px);}
.numEl[data-pos='6'] {transform: translate(112px, 58px);}
.numEl[data-pos='7'] {transform: translate(166px, 58px);}
.numEl[data-pos='8'] {transform: translate(4px, 112px);}
.numEl[data-pos='9'] {transform: translate(58px, 112px);}
.numEl[data-pos='10'] {transform: translate(112px, 112px);}
.numEl[data-pos='11'] {transform: translate(166px, 112px);}
.numEl[data-pos='12'] {transform: translate(4px, 166px);}
.numEl[data-pos='13'] {transform: translate(58px, 166px);}
.numEl[data-pos='14'] {transform: translate(112px, 166px);}
.numEl[data-pos='15'] {transform: translate(166px, 166px);}
